/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'xeicon';
  src: url('#{$fa-font-path}/xeicon.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/xeicon.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    url('#{$fa-font-path}/xeicon.woff?v=#{$fa-version}') format('woff'),
    url('#{$fa-font-path}/xeicon.ttf?v=#{$fa-version}') format('truetype'),
    url('#{$fa-font-path}/xeicon.svg?v=#{$fa-version}#xeiconregular') format('svg');
    font-weight: normal;
  font-style: normal;
}
